@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --primary-color: #4ea685;
  --secondary-color: #57b894;
  --light-blue: #d0e4ff;
  --red: #fc3b56;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: var(--primary-color);
}
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  padding: 40px;
}
.centered-content h1 {
  font-size: 50px;
  margin-bottom: 50px !important;
}
#btnConnect {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  width: 100%;
  transition: background-color 0.3s;
}
#btnConnect:hover {
  background-color: #3a8468;
}
.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  border: none;
  margin: 0 10px;
}
.enabled-style:hover {
  background-color: #1e4d43;
}
video {
  border-radius: 10px;
}
#roomName {
  border-radius: 5px;
  border: 1.5px solid #d9d9d9;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  margin-right: -1px;
  text-align: center;
}
.input-group {
  width: 100%;
  gap: 20px;
}

#roomConfig p {
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

#roomConfig {
  background-color: #ffffff;
  border: 1.5px solid #e9e9e9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 50px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}

/* Modal */
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin-left: 10px;
}

.modal-divider {
  margin: 0;
  color: #ccc;
}

.modal-body {
  font-size: 18px;
  text-align: center;
  padding: 30px 30px 10px;
}

.modal-footer {
  border-top: none;
  justify-content: center;
}

/* Star Rating */
.star-rating {
  display: flex;
  justify-content: center;
}

.star-rating input {
  display: none;
}

.rating-prompt {
  text-align: center;
  color: black;
}

.star-rating label {
  font-size: 50px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label {
  color: #ffcc00;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffcc00;
}

.star-rating input:checked ~ label ~ label {
  color: #ddd;
}

/* 체크박스 스타일 */
.input-group-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--gray);
  border-radius: 0.5rem;
  border: 0.125rem solid var(--white);
  padding: 10px 35px;
  margin-bottom: 10px;
}

.input-group-checkbox label {
  display: flex;
  align-items: center;
  color: black;
}

.checkbox-group {
  display: flex;
  align-items: center;
  width: 48%;
  box-sizing: border-box;
  margin: 5px 0;
}

.checkbox-group label {
  margin-right: 10px;
}

.input-group-checkbox input {
  display: none;
}

.input-group-checkbox .cb1 {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transition: border-color ease 0.2s;
  cursor: pointer;
}

.input-group-checkbox .cb1::after,
.input-group-checkbox .cb1::before {
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #34b93d;
  box-sizing: border-box;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  transition: opacity ease 0.5;
}

.input-group-checkbox .cb1::before {
  top: 14.4px;
  left: 8.2px;
  box-shadow: 0 0 0 1px transparent;
  transform: rotate(-135deg);
}

.input-group-checkbox .cb1::after {
  top: 7.4px;
  left: 1px;
  transform: rotate(-45deg);
}

.input-group-checkbox input:checked + .cb1 {
  border-color: #34b93d;
}

.input-group-checkbox input:checked + .cb1::after {
  height: 10px;
  animation: bottomcheck 0.2s ease 0s forwards;
}

.input-group-checkbox input:checked + .cb1::before {
  height: 24px;
  animation: topcheck 0.4s ease 0s forwards;
}

/* Review Textarea */
textarea {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  resize: none;
}

/* Review Save Button */
#saveReview {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

#saveReview:hover {
  background-color: #16382c;
}

.btn-danger {
  margin: 0 10px;
}


#penguin {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/static/images/penguin1.jpg');
}

#penguin_child {
  display: inline-block;
  width: 600px;
  height: 470px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/static/images/penguin1.jpg');
}


.video-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.video-container video,
.video-container #penguin,
.video-container #canvas {
  width: 200px;
  height: 150px;
}


#canvas {
  display: none;
}







