@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@font-face {
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduSaeeum_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: url('/static/images/MBTI_background.png') no-repeat center fixed;
  background-size: cover;
  background-position: center bottom;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 98vw;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.css-header {
  position: relative;
  display: block;
}

.css-title {
  font-family: 'Bagel Fat One';
  margin-top: 10vh;
  font-size: 4rem;
  text-align: center;
  color: white;
}

.css-border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 4vh;
  width: 60vw;
  height: 200vh;
  border-radius: 10px;
}

.css-resultImg {
  position: relative;
  width: 50vh;
}

.css-resultTitle {
  position: relative;
  margin-top: -3vh;
  color: black;
  font-size: 70px;
  opacity: 0.5;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
}

.css-ratings {
  position: relative;
  text-align: center;
  margin-top: 4vh;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.css-resultExplain {
  position: relative;
  margin-top: 10vh;
  width: 70%;
  color: black;
  font-size: 25px;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
}

.css-restart {
  width: 60%;
  padding: 16px 48px;
  font-size: large;
  background-color: white;
  color: black;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  margin-top: 30px;
  margin-bottom: 15px;
}
.css-restart:hover {
  transition-duration: 0.4s;
  background-color: #3d3d3d;
  color: white;
}
.css-match {
  width: 60%;
  padding: 16px 48px;
  font-size: large;
  background-color: white;
  color: black;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'GangwonEduSaeeum_OTFMediumA';
  margin-bottom: 15px;
}
.css_match:hover {
  transition-duration: 0.4s;
  background-color: #3d3d3d;
  color: white;
}


.css-footer {
  position: relative;
  margin-top: 4vh;
}

@media (min-width: 320px) and (max-width: 480px) {
  body {
    height: 230vh;
  }
  .css-title {
    margin-top: 5vh;
    padding: 2px;
    font-size: 25px;
  }
  .css-border {
    width: 90vw;
    height: 180vh;
    font-size: 12px;
  }
  .css-resultExplain {
    margin-top: 5vh;
    width: 70vw;
  }
  .css-worstMatch {
    margin-left: 40px;
  }
}
