@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f4f7;
}

header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-flex {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
}

.header-flex h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#logo {
  height: 80px;
}

.profile {
  position: relative;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: var(--light);
  padding: 10px 0;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}
.profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  transition: all 0.3s ease;
  font-size: 18px;
}
.profile .profile-link a:hover {
  background: var(--grey);
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30vw;
  max-width: 300px;
  justify-content: center;
}

.card-icon {
  font-size: 3em;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.learn-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
  }
}
