@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-family: "Jua", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff5de;
}

header {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fbedbf;
}

.header-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.header-flex h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#logo {
  height: 75px;
  padding: 12px;
}

#userNameSpan {
  margin-left: 20px;
  font-size: 20px;
}

#search-bar {
  width: 35vw;
  height: 40px;
  padding: 5px 10px;
  font-size: 18px;
  border: 2px solid #fff;
  border-radius: 5px;
}

#search-bar:focus {
  outline: none;
}

.bx-search {
  font-size: 28px;
  color: #ea726b;
  cursor: pointer;
}

#alarm-icon {
  font-size: 40px;
  color: #ea726b;
  cursor: pointer;
  margin-right: 20px;
}

#user-icon {
  font-size: 40px;
  color: #ea726b;
  cursor: pointer;
  margin-right: 20px;
}

#logout-icon {
  font-size: 40px;
  color: #ea726b;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 290px;
  height: 440px;
  max-width: 300px;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #fff;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.card img {
  margin-top: 10px;
}

.text {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #333;
}

@media screen and (max-width: 768px) {
  .card {
    width: 40vw;
    height: 50vw;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 80vw;
    height: 80vw;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin-top: 50px;
  }
  #logo {
    height: 62px;
  }
  #search-bar {
    height: 35px;
    font-size: 15px;
  }
  .bx-search {
    font-size: 25px;
  }
  #user-icon {
    font-size: 35px;
  }
  #alarm-icon {
    font-size: 35px;
  }
  #logout-icon {
    font-size: 35px;
  }
  .card {
    width: 20vw;
    height: 55vh;
    max-width: none;
  }
  .card-title {
    font-size: 2em;
  }
  .card img {
    width: 160px;
    margin-top: 5px;
  }
  .text {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 80vw;
    height: 40vh;
    max-width: none;
  }
}

/* 아이콘을 담는 컨테이너 */
.icon-container {
  position: relative;
  display: inline-block;
}

/* 뱃지 스타일 */
.badge {
  position: absolute;
  top: 1px;
  right: 24px;
  background-color: #2879ff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* 알람 박스 스타일 */
.notification-box {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 200px;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}
.notification-box::before {
  content: "클릭!!";
  display: inline-block;
  font-size: 20px;
  color: #2879ff;
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1002;
}
