<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/counselor/home.css" />
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="/counselor_home" class="brand"><img src="/static/images/icon.png" width="50" alt="" />Call-E</a>
      <ul class="side-menu">
        <li>
          <a href="/counselor_home"><i class="bx bxs-dashboard icon"></i> Dashboard</a>
        </li>
        <li class="divider" data-text="main">Main</li>
        <li>
          <a href="#" class="active"><i class="bx bxs-widget icon"></i> 아동 조회 <i class="bx bx-chevron-right icon-right"></i></a>
          <ul class="side-dropdown">
            <li><a href="/child_list">모든 아동 조회</a></li>
            <li><a href="/child_list">담당 아동 조회</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="bx bxs-inbox icon"></i> 상담 일지 <i class="bx bx-chevron-right icon-right"></i></a>
          <ul class="side-dropdown">
            <li><a href="#">상담 일지 조회</a></li>
            <li><a href="#">상담 일지 작성</a></li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="bx bxs-notepad icon"></i> 일정 확인 <i class="bx bx-chevron-right icon-right"></i></a>
          <ul class="side-dropdown">
            <li><a href="#">월별 일정 확인</a></li>
            <li><a href="#">주간 일정 확인</a></li>
          </ul>
        </li>
        <li>
          <a href="/counseling"><i class="bx bxs-video-plus icon"></i> 상담 진행 </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu toggle-sidebar"></i>
        <form action="#">
          <div class="form-group">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search icon"></i>
          </div>
        </form>
        <a href="#" class="nav-link">
          <i class="bx bxs-bell icon"></i>
        </a>
        <span class="divider"></span>
        <span>Name</span>
        <div class="profile">
          <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png" alt="" />
          <ul class="profile-link">
            <li>
              <a href="#"><i class="bx bxs-user-circle icon"></i> Profile</a>
            </li>
            <li>
              <a href="#"><i class="bx bxs-cog"></i> Settings</a>
            </li>
            <li>
              <a href="#"><i class="bx bxs-log-out-circle"></i> Logout</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- NAVBAR -->
      <!-- MAIN -->
      <main>
        <h1 class="title">아동 조회</h1>
        <ul class="breadcrumbs">
          <li><a href="#">아동 조회</a></li>
          <li class="divider">/</li>
          <li><a href="#" class="active">모든 아동 조회</a></li>
        </ul>

        <div class="info-data">
          <div class="card">
            <div class="head">
              <h2>모든 아동 리스트</h2>
              <box-icon name="down-arrow-alt"></box-icon>
            </div>
            <div class="table-list">
              <table class="table-fill">
                <thead class="table-head">
                  <tr>
                    <th class="text-center" style="cursor: pointer" onclick="sortTable(0)">이름 <i class="bx bxs-chevron-down"></i></th>
                    <th class="text-center" style="cursor: pointer" onclick="sortTable(1)">아이디 <i class="bx bxs-chevron-down"></i></th>
                    <th class="text-center" style="cursor: pointer" onclick="sortTable(2)">상담분야 <i class="bx bxs-chevron-down"></i></th>
                    <th class="text-center" style="cursor: pointer" onclick="sortTable(3)">MBTI <i class="bx bxs-chevron-down"></i></th>
                    <th class="text-center" style="cursor: pointer" onclick="sortTable(4)">담당 상담사 <i class="bx bxs-chevron-down"></i></th>
                    <th class="text-center" style="cursor: pointer" onclick="sortTable(5)">보호자 <i class="bx bxs-chevron-down"></i></th>
                    <th class="text-center">보호자 연락처</th>
                  </tr>
                </thead>
                <tbody class="table-hover">
                  <tr>
                    <td class="text-center">박아동</td>
                    <td class="text-center">ch06</td>
                    <td class="text-center">발달 상담</td>
                    <td class="text-center">INFP</td>
                    <td class="text-center">이상담</td>
                    <td class="text-center">최보호</td>
                    <td class="text-center">010-6666-0000</td>
                  </tr>

                  <tr>
                    <td class="text-center">김아동</td>
                    <td class="text-center">ch01</td>
                    <td class="text-center">학교 상담</td>
                    <td class="text-center">ENFP</td>
                    <td class="text-center">박상담</td>
                    <td class="text-center">양보호</td>
                    <td class="text-center">010-0000-1111</td>
                  </tr>

                  <tr>
                    <td class="text-center">최아동</td>
                    <td class="text-center">ch03</td>
                    <td class="text-center">학교 상담</td>
                    <td class="text-center">INTP</td>
                    <td class="text-center">김상담</td>
                    <td class="text-center">임보호</td>
                    <td class="text-center">010-8888-8888</td>
                  </tr>

                  <tr>
                    <td class="text-center">양아동</td>
                    <td class="text-center">ch09</td>
                    <td class="text-center">발달 상담</td>
                    <td class="text-center">ISFP</td>
                    <td class="text-center"></td>
                    <td class="text-center">박보호</td>
                    <td class="text-center">010-7777-7777</td>
                  </tr>

                  <tr>
                    <td class="text-center">이아동</td>
                    <td class="text-center">ch10</td>
                    <td class="text-center">발달 상담</td>
                    <td class="text-center">ISTJ</td>
                    <td class="text-center">최상담</td>
                    <td class="text-center">최보호</td>
                    <td class="text-center">010-6666-6666</td>
                  </tr>

                  <tr>
                    <td class="text-center">임아동</td>
                    <td class="text-center">ch08</td>
                    <td class="text-center">문제행동 상담</td>
                    <td class="text-center">ENFJ</td>
                    <td class="text-center"></td>
                    <td class="text-center">이보호</td>
                    <td class="text-center">010-4444-5555</td>
                  </tr>

                  <tr>
                    <td class="text-center">황아동</td>
                    <td class="text-center">ch05</td>
                    <td class="text-center">발달 상담</td>
                    <td class="text-center">INFP</td>
                    <td class="text-center">김상담</td>
                    <td class="text-center">강보호</td>
                    <td class="text-center">010-2222-3333</td>
                  </tr>

                  <tr>
                    <td class="text-center">김아동</td>
                    <td class="text-center">ch18</td>
                    <td class="text-center">발달 상담</td>
                    <td class="text-center">INFP</td>
                    <td class="text-center">유상담</td>
                    <td class="text-center">차보호</td>
                    <td class="text-center">010-1111-2222</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- card -->
        </div>
      </main>
    </section>
    <!-- JS -->
    <script src="/static/javascript/counselor/counselor_home.js"></script>
    <script src="/static/javascript/counselor/child_list.js"></script>
  </body>
</html>
