<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/counselor/counsel_schedule.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css" rel="stylesheet" />
</head>
<body>
    <section id="sidebar">
        <a href="/counselor_home" class="brand"><img src="/static/images/icon.png" width="50" alt="" />Call-E</a>
        <ul class="side-menu">
            <li>
                <a href="/counselor_home"><i class="bx bxs-dashboard icon"></i> Dashboard</a>
            </li>
            <li class="divider" data-text="main">Main</li>
            <li>
                <a href="#"><i class="bx bxs-widget icon"></i> 아동 조회 <i class="bx bx-chevron-right icon-right"></i></a>
                <ul class="side-dropdown">
                    <li><a href="/child_list">모든 아동 조회</a></li>
                    <li><a href="/child_list">담당 아동 조회</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="bx bxs-inbox icon"></i> 상담 일지 <i class="bx bx-chevron-right icon-right"></i></a>
                <ul class="side-dropdown">
                    <li><a href="/counsel_view">상담 일지 조회</a></li>
                    <li><a href="/counsel_write">상담 일지 작성</a></li>
                </ul>
            </li>
            <li>
                <a href="/counsel_schedule" class="active"><i class="bx bxs-notepad icon"></i> 일정 확인 </a>
            </li>
            <li>
                <a href="/counsel_counseling"><i class="bx bxs-video-plus icon"></i> 상담 진행 </a></li>
        </ul>
    </section>
    <section id="content">
        <nav>
            <i class="bx bx-menu toggle-sidebar"></i>
            <form action="#">
                <div class="form-group">
                    <input type="text" placeholder="Search..." />
                    <i class="bx bx-search icon"></i>
                </div>
            </form>
            <a href="#" class="nav-link">
                <i class="bx bxs-bell icon"></i>
            </a>
            <span class="divider"></span>
            <span id="counselorNameSpan">{{ session['counselor_name'] }}</span>
            <div class="profile">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png" alt="" />
                <ul class="profile-link">
                    <li>
                        <a href="#"><i class="bx bxs-user-circle icon"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="bx bxs-cog"></i> Settings</a></li>
                    <li>
                        <a href="#"><i class="bx bxs-log-out-circle"></i> Logout</a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="data">
                <div class="content-data">
                    <div id="calendar"></div>
                </div>
            </div>
        </main>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid/main.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendar");
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                headerToolbar: {
                    left: "prev,next today",
                    center: "title",
                    right: "dayGridMonth,timeGridWeek,timeGridDay",
                },
                events: {{ schedule_events|tojson }},
                editable: false, // 수정 비활성화
                selectable: false, // 선택 비활성화
                selectMirror: false, // 선택 미러링 비활성화
                dayMaxEvents: true,
                displayEventTime: false, // 시간 정보 표시 비활성화
                select: function (arg) {
                    // 선택 기능 비활성화
                },
                eventClick: function (arg) {
                    // 클릭 이벤트 비활성화
                },
            });
            calendar.render();
            // 이벤트 데이터 콘솔에 출력
            console.log("FullCalendar events data:", {{ schedule_events|tojson }});
        });
    </script>
</body>
</html>
