<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Call-E</title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/counselor/join.css') }}" />
  </head>
  <body>
    <div id="container" class="container">
      <!-- FORM SECTION -->
      <div class="row">
        <!-- 회원가입 -->
        <div class="col align-items-center flex-col sign-up">
          <div class="form-wrapper align-items-center">
            <div class="form sign-up">
              <div class="input-group">
                <div id="user-type-options" class="user-type-options">
                  <button value="child" onclick="updateUserType(this)">아동</button>
                  <button value="counselor" onclick="updateUserType(this)">상담사</button>
                </div>
                <input type="hidden" id="user-type" name="user-type" value="child" />
              </div>
              {% if error %}
                <div class="error"><b>{{ error }}</b></div>
              {% endif %}
              <!-- 아동 -->
              <div class="input-group" id="child-info-group">
                <i class="bx bxs-child"></i>
                <!-- 각 input 요소에 required 속성 추가하여 빈 값이면 제출할 수 없도록 함 -->
                <input type="text" id="child_name" name="ch_name" placeholder="이름" required/>
                <input type="text" id="child_id" name="ch_id" placeholder="아이디" required/>
                <input type="password" id="child-password" name="ch_pw" placeholder="비밀번호" required/>
                <input type="password" id="child-confirm-password" name="ch_pw2" placeholder="비밀번호확인" required/>
                <input type="text" id="child_phone_num" name="ch_ph" placeholder="전화번호" required/>
                <input type="email" id="child_email" name="ch_email" placeholder="이메일" required/>
                <div id="birth-flex">
                  <input type="text" id="child-birth-year" name="ch_by" placeholder="출생연도" required/>
                  <input type="text" id="child-birth-month" name="ch_bm" placeholder="월" required/>
                  <input type="text" id="child-birth-day" name="ch_bd" placeholder="일" required/>
                  
                </div>
                <input type="text" id="child-address" name="ch_address" placeholder="주소" required/>
            </div>
            <!-- 비밀번호 확인이 일치하지 않을 경우 에러 메시지 표시 -->
            {% if error_pw %}
                <div class="error"><b>{{ error_pw }}</b></div>
            {% endif %}
              <!-- 상담사 -->
              <div class="input-group" id="counselor-info-group" style="display: none">
                <i class="bx bxs-counselor"></i>
                <div id="MBTI-flex">
                  <input type="text" placeholder="이름" />
                  <select id="mbti-dropdown">
                    <option value="" disabled selected>MBTI</option>
                    <option value="ISTJ">ISTJ</option>
                    <option value="ISFJ">ISFJ</option>
                    <option value="ISFJ">INFJ</option>
                    <option value="ISFJ">INTJ</option>
                    <option value="ISFJ">ISTP</option>
                    <option value="ISFJ">ISFP</option>
                    <option value="ISFJ">INFP</option>
                    <option value="ISFJ">INTP</option>
                    <option value="ISFJ">ESTP</option>
                    <option value="ISFJ">ESFP</option>
                    <option value="ISFJ">ENFP</option>
                    <option value="ISFJ">ENTP</option>
                    <option value="ISFJ">ESTJ</option>
                    <option value="ISFJ">ESFJ</option>
                    <option value="ISFJ">ENFJ</option>
                    <option value="ISFJ">ENTJ</option>
                  </select>
                </div>
                <input type="text" placeholder="사번" />
                <input type="password" placeholder="비밀번호" />
                <input type="password" id="confirm-password" placeholder="비밀번호 확인" />
                <input type="text" placeholder="전화번호" />
                <input type="email" placeholder="이메일" />
                <div id="birth-flex">
                  <input type="text" id="birth-year" placeholder="출생연도" />
                  <input type="text" id="birth-month" placeholder="월" />
                  <input type="text" id="birth-day" placeholder="일" />
                </div>
                <div class="input-group-checkbox">
                  <div class="checkbox-group">
                    <input type="checkbox" id="area1" />
                    <label for="area1" class="cb1"></label>
                    <div>발달 상담</div>
                  </div>
                  <div class="checkbox-group">
                    <input type="checkbox" id="area2" />
                    <label for="area2" class="cb1"></label>
                    <div>학교 상담</div>
                  </div>
                  <div class="checkbox-group">
                    <input type="checkbox" id="area3" />
                    <label for="area3" class="cb1"></label>
                    <div>문제행동 상담</div>
                  </div>
                  <div class="checkbox-group">
                    <input type="checkbox" id="area4" />
                    <label for="area4" class="cb1"></label>
                    <div>정서 상담</div>
                  </div>
                </div>
              </div>
              <button id = "signupClick">회원가입</button>
              <p>
                <span> 이미 회원이신가요? </span>
                <b onclick="toggle()" class="pointer"> 로그인하기 </b>
              </p>
            </div>
          </div>
        </div>
        <!-- END 회원가입 -->
        <!-- 로그인 -->
        <div class="col align-items-center flex-col sign-in">
          <div class="form-wrapper align-items-center">
            <div class="form sign-in">
              <div class="input-group">
                <i class="bx bxs-counselor"></i>
                <input type="text" placeholder="아이디" />
              </div>
              <div class="input-group">
                <i class="bx bxs-lock-alt"></i>
                <input type="password" placeholder="비밀번호" />
              </div>
              <button>로그인</button>
              <p>
                <span> 계정이 없으신가요? </span>
                <b onclick="toggle()" class="pointer"> 가입하기 </b>
              </p>
            </div>
          </div>
          <div class="form-wrapper"></div>
        </div>
        <!-- END 로그인 -->
      </div>
      <!-- END FORM SECTION -->
      <!-- CONTENT SECTION -->
      <div class="row content-row">
        <!-- 로그인 CONTENT -->
        <div class="col align-items-center flex-col">
          <div class="text sign-in">
            <h2>반가워요 :)</h2>
          </div>
          <div class="img sign-in"></div>
        </div>
        <!-- END 로그인 CONTENT -->
        <!-- 회원가입 CONTENT -->
        <div class="col align-items-center flex-col">
          <div class="img sign-up"></div>
          <div class="text sign-up">
            <h2>회원가입</h2>
          </div>
        </div>
        <!-- END 회원가입 CONTENT -->
      </div>
      <!-- END CONTENT SECTION -->
    </div>
  </body>
  <script src="{{ url_for('static', filename='javascript/counselor/join.js') }}"></script>
  
    
  

</html>
