<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="payload" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user/chat.css') }}" />
  </head>
  <body>
    <div class="centered-content">
      <h1 class="text-center my-4">CALL-E</h1>

      <div id="roomConfig" class="d-flex flex-column align-items-center">
        <p>
          통화를 시작하기 위해 아래에<br />
          상담 코드를 입력해주세요
        </p>
        <div class="input-group input-group-lg" style="max-width: 400px">
          <input id="roomName" type="text" class="form-control form-control-lg" placeholder="Enter room" />
          <button id="btnConnect" class="btn btn-primary btn-lg" type="button">참가하기</button>
        </div>
      </div>

      <div id="roomDiv" class="d-none d-flex flex-column align-items-center mt-3">
        <div id="remoteVideoContainer" style="width: 600px; height: 450px; display: flex; align-items: center; justify-content: center; background-color: #363636">
          <video id="remoteVideo" autoplay style="width: 100%; height: 100%; object-fit: contain"></video>
        </div>

        <div class="d-flex mt-3">
          <button id="toggleVideo" class="btn-circle enabled-style">
            <i id="videoIcon" class="bi bi-camera-video-fill"></i>
          </button>
          <button id="toggleAudio" class="btn-circle enabled-style">
            <i id="audioIcon" class="bi bi-mic-fill"></i>
          </button>
          <!-- 상담 종료 버튼 추가 -->
          <button id="endCall" class="btn btn-danger">상담 종료</button>
          <!-- 모달 창 -->
          <div class="modal fade" id="endCallModal" tabindex="-1" aria-labelledby="endCallModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="endCallModalLabel">오늘의 리뷰</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <hr class="modal-divider" />
                <div class="modal-body">
                  <h4 class="rating-prompt">오늘 상담은 어떠셨나요?</h4>
                  <h4 class="rating-prompt">별점을 남겨주세요</h4>
                  <div class="star-rating">
                    <input type="radio" id="star-5" name="rating" value="1" />
                    <label for="star-5" class="star">&#9733;</label>
                    <input type="radio" id="star-4" name="rating" value="2" />
                    <label for="star-4" class="star">&#9733;</label>
                    <input type="radio" id="star-3" name="rating" value="3" />
                    <label for="star-3" class="star">&#9733;</label>
                    <input type="radio" id="star-2" name="rating" value="4" />
                    <label for="star-2" class="star">&#9733;</label>
                    <input type="radio" id="star-1" name="rating" value="5" />
                    <label for="star-1" class="star">&#9733;</label>
                  </div>
                  <div class="tag-selection">
                    <div class="input-group-checkbox">
                      <div class="checkbox-group">
                        <input type="checkbox" id="area1" />
                        <label for="area1" class="cb1"></label>
                        <label>공감과 위로</label>
                      </div>
                      <div class="checkbox-group">
                        <input type="checkbox" id="area2" />
                        <label for="area2" class="cb1"></label>
                        <label>현실적인 조언</label>
                      </div>
                      <div class="checkbox-group">
                        <input type="checkbox" id="area3" />
                        <label for="area3" class="cb1"></label>
                        <label>능동적인 참여유도</label>
                      </div>
                      <div class="checkbox-group">
                        <input type="checkbox" id="area4" />
                        <label for="area4" class="cb1"></label>
                        <label>성장지향적 접근성</label>
                      </div>
                      <div class="checkbox-group">
                        <input type="checkbox" id="area5" />
                        <label for="area5" class="cb1"></label>
                        <label>위기대응 및 안정화</label>
                      </div>
                    </div>
                  </div>
                  <textarea id="reviewText" rows="4" placeholder="리뷰 내용을 작성해주세요."></textarea>
                </div>
                <div class="modal-footer">
                  <button id="saveReview" type="button" class="btn btn-primary">리뷰 저장하고 상담 종료</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <video muted id="localVideo" autoplay style="width: 200px; height: 200px; position: absolute; bottom: 20px; right: 20px"></video>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='javascript/user/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/user/chat_rating.js') }}"></script>
    <script>
      // URL에서 특정 쿼리 파라미터 값을 추출하는 함수 정의
      function getQueryParameter(param) {
        var urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
      }

      let counselorId;
      document.getElementById("btnConnect").addEventListener("click", function () {
        // 사용자가 입력한 상담 코드를 가져옵니다.
        const roomCode = document.getElementById("roomName").value;
        console.log("Room Code:", roomCode);

        // 서버의 /roomcode 엔드포인트에 POST 요청을 보냅니다.
        fetch("/roomcode", {
          method: "POST", // HTTP 메소드 설정
          headers: {
            "Content-Type": "application/json", // 내용 타입을 JSON으로 설정
          },
          body: JSON.stringify({ roomCode: roomCode }), // 전송할 데이터
        })
          .then((response) => response.json()) // 서버로부터 받은 응답을 JSON으로 파싱
          .then((data) => {
            console.log("Response from server:", data); // 서버로부터 받은 응답을 콘솔에 출력
            counselorId = data.co_id;
          })
          .catch((error) => {
            console.error("Error:", error); // 에러 처리
          });
      });

      document.addEventListener("DOMContentLoaded", function () {
        var childID = getQueryParameter("child_id"); // URL에서 child_id 추출
        var counselor = getQueryParameter("counselor_id"); // URL에서 counselor 추출

        if (childID) {
          // child_id가 존재하는 경우에만 모달 관련 이벤트 리스너를 설정
          document.getElementById("endCall").addEventListener("click", function () {
            var modal = new bootstrap.Modal(document.getElementById("endCallModal"));
            modal.show();
          });
        } else if (counselor) {
          // counselor가 존재하는 경우 경고창을 띄웁니다.
          document.getElementById("endCall").addEventListener("click", function () {
            alert("돌아가서 상담일지를 작성해주세요.");
            window.location.href = "/counselor_home?counselor_id=" + encodeURIComponent(counselorId);
          });
        }
      });

      document.getElementById("saveReview").addEventListener("click", function () {
        // 별점을 가져오는 코드
        const rating = document.querySelector('input[name="rating"]:checked').value;
        console.log("Rating:", rating);

        // 리뷰 내용을 가져오는 코드
        const reviewText = document.getElementById("reviewText").value;
        console.log("Review Text:", reviewText);

        // 모든 체크박스 요소를 선택하고 선택된 체크박스의 라벨 텍스트를 가져옵니다.
        const selectedTags = [];
        const checkboxGroups = document.querySelectorAll('.checkbox-group input[type="checkbox"]');

        checkboxGroups.forEach((checkbox) => {
          if (checkbox.checked) {
            // 체크박스가 선택된 경우
            const label = checkbox.nextElementSibling.nextElementSibling.textContent;
            selectedTags.push(label);
          }
        });
        const tags = selectedTags.join(", ");
        console.log("Selected Tags:", selectedTags.join(", ")); // 콘솔에 선택된 태그들을 출력합니다.
        console.log(tags);

        // 현재 날짜를 'YYYY-MM-DD' 형식으로 가져오는 코드
        const currentDate = new Date();
        const formattedDate = currentDate.toISOString().slice(0, 10); // ISO 문자열을 잘라서 'YYYY-MM-DD' 형식으로 만듦
        console.log("Review Date:", formattedDate);

        // 여기서 childID는 어떤 방식으로든 URL 쿼리에서 가져옵니다.
        const childID = getQueryParameter("child_id"); // 이 함수가 정의되어 있어야 합니다.
        console.log("Child ID:", childID);
        console.log("Counselor ID:", counselorId);

        // 모든 필수 입력 항목을 확인합니다.
        if (!rating || reviewText === "" || selectedTags.length === 0) {
          alert("모든 답을 입력하셔야 리뷰를 작성할 수 있습니다. 작성하지 않고 종료하시겠습니까?");
          window.location.href = "/user_home?child_id=" + encodeURIComponent(childID);
        }
        // 서버의 /review 엔드포인트에 POST 요청을 보냅니다.
        fetch("/review", {
          method: "POST", // HTTP 메소드 설정
          headers: {
            "Content-Type": "application/json", // 내용 타입을 JSON으로 설정
          },
          body: JSON.stringify({
            counselorID: counselorId,
            rating: rating,
            reviewText: reviewText,
            reviewDate: formattedDate,
            childID: childID,
            tags: tags,
          }), // 전송할 데이터
        })
          .then((response) => response.json()) // 서버로부터 받은 응답을 JSON으로 파싱
          .then((data) => {
            console.log("Response from server:", data); // 서버로부터 받은 응답을 콘솔에 출력
            window.location.href = "/user_home?child_id=" + encodeURIComponent(childID);
          })
          .catch((error) => {
            console.error("Error:", error); // 에러 처리
          });
      });
    </script>
  </body>
</html>
