<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user/mbti_match.css" />
  </head>
  <body>
    <header class="css-header">
      <div class="css-title">상담사를 추천합니다!</div>
    </header>
    <main>
      <section class="css-border">
        <img src="" class="css-resultImg js-resultImg" />
      </section>
    </main>
    <footer class="css-footer"></footer>
  </body>
</html>
