<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call-E</title>
    <link rel="stylesheet" type="text/css" href="/static/css/user/mbti_test.css">
</head>
<body class="js-body">
    <header class="css-header">
        <h2 class="css-title js-question">질문</h2>
    </header>
    <main>
        <section class="css-border">
            <progress class="css-progressBar js-progressBar" max="100" value="5"></progress>
            <button class="css-choice1 js-choice1">선택지1</button>
            <button class="css-choice2 js-choice2">선택지2</button>
            <button class="css-backButton js-backButton">이전</button>
        </section>
    </main>
    <script src="/static/javascript/user/mbti_test.js"></script>
</body>
</html>