<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
	  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
    <!-- boxicon -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user/mbti_home.css') }}" />
  </head>
  <body>
    <a href="/user_home"> <i class="bx bxs-home" id="logout-icon"></i></a>
    <header class="css-header">
      <div class="css-title">키즈 MBTI</div>
    </header>
    <main>
      <section class="css-border">
        <button class="mbti-btn js-start" id="MBTI-">테스트 시작하기</button>
        <button class="mbti-btn" onclick="window.location.href='/mbti_match'">맞춤 상담사 다시 찾기</button>
      </section>
    </main>
    <script src="{{ url_for('static', filename='javascript/user/mbti_home.js') }}"></script>
  </body>
</html>
