<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
	  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
    <!-- boxicon -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user/mbti_match.css') }}" />
  </head>
  <body>
    <header>
      <img src="/static/images/icon3.png" alt="Call-E" id="logo" />
      <span id="userNameSpan">{{ session['child_name'] }} 님</span>
      <div class="header-flex">
        <input type="text" placeholder=" 원하는 콘텐츠를 검색해보세요" id="search-bar" />
        <i class="bx bx-search"></i>
      </div>
      <div class="header-right">
        <i class="bx bxs-user-circle" id="user-icon"></i>
        <i class="bx bxs-bell" id="alarm-icon"></i>
        <a href="/user_home"><i class="bx bxs-home" id="home-icon"></i></a>
      </div>
    </header>
    <div class="container">
      <div class="card">
        <div class="left-section">
          <div class="lists-header">
            <p>상담사 추천 리스트</p>
          </div>
          <input type="text" placeholder="상담사 이름 검색" id="search-consultant" />
          <div class="filter-tags">
            <button class="filter-tag" id="call-e" value="0">Call-E 추천순</button>
            <button class="filter-tag" id="concern" value="1">고민연관순</button>
            <button class="filter-tag" id="mbti" value="2">MBTI 궁합순</button>
            <button class="filter-tag" id="review" value="3">상담 만족도순</button>
            <button class="filter-tag" id="survey" value="4">사전설문 우선순</button>
          </div>
        </div>
        <div class="right-section">
          <div class="lists-header">
            <span>모든 상담사 {{ reviews|length }}명</span>
          </div>
          <div class="lists">
            {% for review in reviews %}
            <a class="list" href="/mbti_match_detail/{{ review.co_id}}">
              <img src="/static/images/profile.png" alt="Profile" class="profile-pic" />
              <div class="list-text">
                <span class="list-name">{{ review.co_name }}</span>
                <span class="list-rating"><i class="bx bxs-star"></i>{{ review.avg_consulting_scope }}</span>
                <p>{{ review.co_mbti }}</p>
              </div>
              <div class="list-details">
                <p>{{ review.co_consulting }}</p>
                <p>{{ review.consulting_priorities }}</p>
              </div>
            </a>
            {% endfor %}
          </div>          
        </div>
      </div>
    </div>
    
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filterTags = document.querySelectorAll(".filter-tag");

    filterTags.forEach((tag) => {
        tag.addEventListener("click", function () {
            filterTags.forEach((tag) => tag.classList.remove("active"));
            this.classList.add("active");

            const filterValue = this.getAttribute('value');
            $.ajax({
                url: "/mbti_match",
                method: "POST",
                data: { filter: filterValue },
                success: function (response) {
                    // Update the .lists element with the new HTML
                    $(".lists").html(response.html);
                    // Update the count of all counselors
                    $(".lists-header span").text(`모든 상담사 ${response.count}명`);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    });
});

</script>
