<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Call-E</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icon2.png') }}" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user/survey_pre.css') }}" />
    <!-- Bootstrap CSS LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body class="bg-light">
    <div class="container" id="survey">
      <main>
        <div class="py-5 text-center">
          <h1>사전 설문지</h1>
          <p class="lead" id="lead">
            상담을 시작하기에 앞서, 내담자의 상황을 더 잘 이해하고 최적의 도움을 드리기 위하여 아래의 설문조사를 진행합니다. 
            이 설문은 내담자의 상태를 종합적으로 고려하여 맞춤형 상담을 제공하는 데 활용됩니다.
          </p>
        </div>
        <form class="needs-validation" novalidate action="{{ url_for('survey_pre_html') }}" method="POST">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="childID" class="form-label">아동 이름</label>
              <!-- 서버로부터 받은 아동 이름을 표시 -->
              <input type="text" class="form-control" id="childID" name="childID" placeholder="" value="{{ child_id }}" />
            </div>
            <div class="col-sm-6">
              <label for="guardianName" class="form-label">보호자 성함</label>
              <input type="text" class="form-control" id="guardianName" name="guardianName" placeholder="" value="{{parent_name}}"   />
              <div class="invalid-feedback">Your name is required.</div>
            </div>
          </div>
          <hr class="my-4" />
          <h4 class="mb-3">상담 우선순위</h4>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="priority1" class="form-label">상담에서 1순위로 생각하는 것을 한 가지 고르세요</label>
              <div class="form-check">
                <input id="priority1-1" name="paymentMethod1" type="radio" class="form-check-input" value="공감과 위로" required />
                <label class="form-check-label" for="priority1-1">공감과 위로</label>
              </div>
              <div class="form-check">
                <input id="priority1-2" name="paymentMethod1" type="radio" class="form-check-input" value="현실적인 조언" required />
                <label class="form-check-label" for="priority1-2">현실적인 조언</label>
              </div>
              <div class="form-check">
                <input id="priority1-3" name="paymentMethod1" type="radio" class="form-check-input" value="능동적인 참여유도" required />
                <label class="form-check-label" for="priority1-3">능동적인 참여유도</label>
              </div>
              <div class="form-check">
                <input id="priority1-4" name="paymentMethod1" type="radio" class="form-check-input" value="성장지향적 접근성" required />
                <label class="form-check-label" for="priority1-4">성장지향적 접근성</label>
              </div>
              <div class="form-check">
                <input id="priority1-5" name="paymentMethod1" type="radio" class="form-check-input" value="위기대응 및 안정화" required />
                <label class="form-check-label" for="priority1-5">위기대응 및 안정화</label>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="priority2" class="form-label">상담에서 2순위로 생각하는 것을 한 가지 고르세요</label>
              <div class="form-check">
                <input id="priority2-1" name="paymentMethod2" type="radio" class="form-check-input"value="공감과 위로" required />
                <label class="form-check-label" for="priority2-1">공감과 위로</label>
              </div>
              <div class="form-check">
                <input id="priority2-2" name="paymentMethod2" type="radio" class="form-check-input"value="현실적인 조언" required />
                <label class="form-check-label" for="priority2-2">현실적인 조언</label>
              </div>
              <div class="form-check">
                <input id="priority2-3" name="paymentMethod2" type="radio" class="form-check-input" value="능동적인 참여유도" required />
                <label class="form-check-label" for="priority2-3">능동적인 참여유도</label>
              </div>
              <div class="form-check">
                <input id="priority2-4" name="paymentMethod2" type="radio" class="form-check-input" value="성장지향적 접근성" required />
                <label class="form-check-label" for="priority2-4">성장지향적 접근성</label>
              </div>
              <div class="form-check">
                <input id="priority2-5" name="paymentMethod2" type="radio" class="form-check-input" value="위기대응 및 안정화" required />
                <label class="form-check-label" for="priority2-5">위기대응 및 안정화</label>
              </div>
            </div>
          </div>
          <br>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="priority3" class="form-label">상담에서 3순위로 생각하는 것을 한 가지 고르세요</label>
              <div class="form-check">
                <input id="priority3-1" name="paymentMethod3" type="radio" class="form-check-input" value="공감과 위로" required />
                <label class="form-check-label" for="priority3-1">공감과 위로</label>
              </div>
              <div class="form-check">
                <input id="priority3-2" name="paymentMethod3" type="radio" class="form-check-input" value="현실적인 조언" required />
                <label class="form-check-label" for="priority3-2">현실적인 조언</label>
              </div>
              <div class="form-check">
                <input id="priority3-3" name="paymentMethod3" type="radio" class="form-check-input" value="능동적인 참여유도" required />
                <label class="form-check-label" for="priority3-3">능동적인 참여유도</label>
              </div>
              <div class="form-check">
                <input id="priority3-4" name="paymentMethod3" type="radio" class="form-check-input" value="성장지향적 접근성" required />
                <label class="form-check-label" for="priority3-4">성장지향적 접근성</label>
              </div>
              <div class="form-check">
                <input id="priority3-5" name="paymentMethod3" type="radio" class="form-check-input" value="위기대응 및 안정화" required />
                <label class="form-check-label" for="priority3-5">위기대응 및 안정화</label>
              </div>
            </div>
            <div class="col-sm-6">
              <label for="priority4" class="form-label">상담에서 4순위로 생각하는 것을 한 가지 고르세요</label>
              <div class="form-check">
                <input id="priority4-1" name="paymentMethod4" type="radio" class="form-check-input" value="공감과 위로" required />
                <label class="form-check-label" for="priority4-1">공감과 위로</label>
              </div>
              <div class="form-check">
                <input id="priority4-2" name="paymentMethod4" type="radio" class="form-check-input" value="현실적인 조언" required />
                <label class="form-check-label" for="priority4-2">현실적인 조언</label>
              </div>
              <div class="form-check">
                <input id="priority4-3" name="paymentMethod4" type="radio" class="form-check-input" value="능동적인 참여유도" required />
                <label class="form-check-label" for="priority4-3">능동적인 참여유도</label>
              </div>
              <div class="form-check">
                <input id="priority4-4" name="paymentMethod4" type="radio" class="form-check-input" value="성장지향적 접근성" required />
                <label class="form-check-label" for="priority4-4">성장지향적 접근성</label>
              </div>
              <div class="form-check">
                <input id="priority4-5" name="paymentMethod4" type="radio" class="form-check-input" value="위기대응 및 안정화" required />
                <label class="form-check-label" for="priority4-5">위기대응 및 안정화</label>
              </div>
            </div>
          </div>
          <hr class="my-4" />
          <div class="row g-3">
            <div class="col-sm-6">
              <h4 class="mb-3">상담 분야</h4>
              <label for="subject" class="form-label">상담을 하려는 분야를 고르세요</label>
              <div class="form-check">
                <input id="subject1" name="paymentMethod" type="radio" class="form-check-input" value="발달 상담"  required />
                <label class="form-check-label" for="subject1">발달 상담</label>
              </div>
              <div class="form-check">
                <input id="subject2" name="paymentMethod" type="radio" class="form-check-input" value="학교 상담" required />
                <label class="form-check-label" for="subject2">학교 상담</label>
              </div>
                <div class="form-check">
                  <input id="subject3" name="paymentMethod" type="radio" class="form-check-input" value="문제 행동 상담" required />
                  <label class="form-check-label" for="subject3">문제 행동 상담</label>
                </div>
                <div class="form-check">
                  <input id="subject4" name="paymentMethod" type="radio" class="form-check-input" value="정서 상담" required />
                  <label class="form-check-label" for="subject4">정서 상담</label>
                </div>
            </div>
            <div class="col-sm-6">
              <h4 class="mb-3">과거 병력</h4>
              <label for="medicineName" class="form-label">과거 아동이 진단이나 치료를 받은 병력이 있을 경우 해당 명칭을 기재해주세요</label>
              <input type="text" class="form-control" id="medicineName" name="medicineName" placeholder="" value="" />
              <small class="text-muted">필수 입력 사항이 아닙니다</small>
            </div>
          </div>
          <hr class="my-4" />
          <div class="col-md-12"> 
            <h4 class="mb-3">etc.</h4>
            <label for="additionalNotes" class="form-label">상담사에게 전달할 사항이 있다면 적어주세요</label>
            <input type="text" class="form-control" id="additionalNotes" name="additionalNotes" placeholder="" value="" />
          </div>
          <br>
          <button class="w-100 btn btn-primary btn-lg" type="submit">제출</button>
        </form>
      </main>
      <footer class="my-5 pt-5 text-muted text-center text-small"></footer>
    </div>
    <!-- Bootstrap JS LINK -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="{{ url_for('static', filename='javascript/user/survey_pre.js') }}"></script>
  </body>
</html>
