<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <!-- boxicon -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user/user_reivew_detail.css') }}" />
    <script>
      document.addEventListener("touchstart", function () {}, true);
    </script>
  </head>
  <body>
    <header>
      <img src="/static/images/icon3.png" alt="Call-E" id="logo" />
      <span id="userNameSpan">김아동 님</span>
      <div class="header-flex">
        <input type="text" placeholder=" 원하는 콘텐츠를 검색해보세요" id="search-bar" />
        <i class="bx bx-search"></i>
      </div>
      <div class="header-right">
        <i class="bx bxs-user-circle" id="user-icon"></i>
        <i class="bx bxs-bell" id="alarm-icon"></i>
        <i class="bx bxs-home" id="logout-icon"></i>
      </div>
    </header>
    <div class="container">
      <div class="card">
        <div class="left-section">
          <div class="counselor-profile">
            <div class="profile-picture"></div>
            <div class="profile-details">
              <h2>박상담</h2>
              <p>학교상담 정서상담</p>
              <p>INFP</p>
            </div>
          </div>
          <!-- 이 부분이 말풍선 -->
          <div class="counselor-message">
            <p>상담사님 한마디</p>
            <p>아이들의 마음의 쉼터가 될 수 있도록 노력하겠습니다!</p>
          </div>
          <div class="rating">
            <div class="rating-score">
              <span>4.7</span>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star-half"></i>
              </div>
            </div>
            <div class="rating-details">
              <div class="rating-bar">
                <span>5점</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 90%"></div>
                </div>
                <span>14</span>
              </div>
              <div class="rating-bar">
                <span>4점</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 40%"></div>
                </div>
                <span>8</span>
              </div>
              <div class="rating-bar">
                <span>3점</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 20%"></div>
                </div>
                <span>4</span>
              </div>
              <div class="rating-bar">
                <span>2점</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 10%"></div>
                </div>
                <span>2</span>
              </div>
              <div class="rating-bar">
                <span>1점</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 0%"></div>
                </div>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="right-section">
          <div class="reviews-header">
            <span>최근 리뷰 13개</span>
            <select>
              <option>최신순</option>
              <option>오래된순</option>
              <option>별점 높은 순</option>
              <option>별점 낮은 순</option>
            </select>
          </div>
          <div class="reviews">
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
            <div class="review">
              <span>김아동</span>
              <p>상담사 선생님께서 친절하게 상담해주셔서 좋았어요! 진지하게 고민을 들어주시고 항상 감사합니다~!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
