<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <!-- favicon -->
    <link rel="icon" href="/static/images/icon2.png" />
    <link rel="apple-touch-icon" href="/static/images/icon2.png" />
    <!-- boxicon -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/user/user_counseling.css" />
  </head>
  <body>
    <main>
      <div class="data">
        <div class="content-data3"></div>

        <div class="content-data">
          <div class="tabcontent">
            <input type="radio" name="tab" checked id="tabmenu01" />
            <label for="tabmenu01"><i class="bx bxs-face"></i> 얼굴</label>
            <input type="radio" name="tab" id="tabmenu02" />
            <label for="tabmenu02"><i class="bx bxs-user-voice"></i> 목소리</label>
            <input type="radio" name="tab" id="tabmenu03" />
            <label for="tabmenu03"><i class="bx bxs-cube"></i> 랜덤</label>

            <div class="content-box content01">content01</div>
            <div class="content-box content02">content02</div>
            <div class="content-box content03">
              얼굴과 목소리가<br />
              랜덤으로<br />
              선택되었어요!
            </div>
            <button class="btn-save">상담 시작하기</button>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/javascript/user/user_counseling.js"></script>
  </body>
</html>
