<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Call-E</title>
    <!-- favicon -->
    <link rel="icon" href="/static/images/icon2.png" />
    <link rel="apple-touch-icon" href="/static/images/icon2.png" />
    <!-- boxicon -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/user/user_home.css" />
  </head>
  <body>
    <header>
      <div class="logout-icon">
        <i class="bx bx-log-out home-icon"></i>
      </div>
    </header>
    <div class="content-container">
      <div class="top-content">
        <div class="icon">
          <img src="/static/images/icon2.png" alt="Logo" />
        </div>
        <div class="title"><span class="highlight">소중한</span> 김아동님</div>
      </div>
      <main>
        <div class="icons">
          <div class="icon-item">
            <img src="/static/images/1.png" alt="Icon 1" />
          </div>
          <div class="icon-item">
            <img src="/static/images/2.png" alt="Icon 2" />
          </div>
          <div class="icon-item">
            <img src="/static/images/3.png" alt="Icon 3" />
          </div>
          <div class="icon-item">
            <img src="/static/images/4.png" alt="Icon 4" />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
